<!doctype html>

<html>
  <head>
    <title>Troy Tips</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
  </head>

  <body>
    <div class="container">
      <h1><a href="/">Troy Tips</a></h1>

      <hr/>

      <p class="error-msg">Oh no, an error occurred!</p>
    </div>
  </body>
</html>
