<!doctype html>

<html>
  <head>
    <title>Troy Tips</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
  </head>

  <body>
    <div class="container">
      <h1><a href="/">Troy Tips</a></h1>

      <hr/>

      <!-- TODO: Fix form -->
      <form>
        <textarea class="text-input content-input" placeholder="What tip do you have?"></textarea>
        <input type="text" placeholder="Your Name" class="text-input name-input"/>

        <div class="submit-input">
          <input type="submit" class="submit-btn"/>
        </div>

        <!-- TODO: Errors -->
      </form>

      <hr/>

      <div class="tips">
        <!-- TODO: Display tips -->
        <div class="tip">
            <p class="content">Lorem ipsum dolor sit amet consectetur adipiscing elit...</p>

            <p class="details">
              <b>
                - Anonymous
              </b>

              <br/>

              <a href="/tip/XYZ" class="permalink">
                February 13, 12:45 pm
              </a>
            </p>
        </div>
      </div>
    </div>
  </body>
</html>
