<!doctype html>

<html>
  <head>
    <title>Troy Tips</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
  </head>

  <body>
    <div class="container">
      <h1><a href="/">Troy Tips</a></h1>

      <hr/>

      <div class="tips">
        <div class="tip">
          <p class="content">Lorem ipsum dolor sit amet consectetur adipiscing elit...</p>

          <p class="details">
            <b>
              - Anonymous<br/>
            </b>

            <a href="#" class="permalink">
              February 13, 12:45 pm
            </a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
